USE [DB2]
GO
/****** Object:  Table [dbo].[BaiBao]    Script Date: 6/17/2021 9:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiBao](
	[IDBaiBao] [nvarchar](50) NOT NULL,
	[IDDeTai] [nvarchar](50) NOT NULL,
	[NoiDung] [text] NOT NULL,
	[NgayDang] [date] NOT NULL,
 CONSTRAINT [PK_BaiBao] PRIMARY KEY CLUSTERED 
(
	[IDBaiBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenMon]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenMon](
	[ID] [nvarchar](50) NOT NULL,
	[IDLinhVuc] [nvarchar](50) NOT NULL,
	[IDDeTai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChuyenMon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeTai]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTai](
	[IDDeTai] [nvarchar](50) NOT NULL,
	[TenDeTai] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](50) NOT NULL,
	[IDNguoihuongdan] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeTai] PRIMARY KEY CLUSTERED 
(
	[IDDeTai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeTaiDangThucHien]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTaiDangThucHien](
	[IDDeTai] [nvarchar](50) NOT NULL,
	[TienDo] [nvarchar](1000) NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DeTaiDangThucHien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeTaiHoanThanh]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeTaiHoanThanh](
	[IDDeTai] [nvarchar](50) NOT NULL,
	[Diem] [nvarchar](50) NOT NULL,
	[NgayHoanThanh] [date] NOT NULL,
	[IDBaiBao] [nvarchar](50) NOT NULL,
	[ID] [nchar](50) NOT NULL,
 CONSTRAINT [PK_DeTaiHoanThanh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiDongCham]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiDongCham](
	[ID] [nvarchar](50) NOT NULL,
	[IDCanBo] [nvarchar](50) NOT NULL,
	[IDDeTai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HoiDongCham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinhVuc]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhVuc](
	[IDLinhVuc] [nvarchar](50) NOT NULL,
	[TenLinhVuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LinhVuc] PRIMARY KEY CLUSTERED 
(
	[IDLinhVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NghiepVu]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghiepVu](
	[ID] [nvarchar](50) NOT NULL,
	[IDCanBo] [nvarchar](50) NOT NULL,
	[IDLinhVuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NghiepVu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiThucHien]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThucHien](
	[ID] [nvarchar](50) NOT NULL,
	[IDDeTai] [nvarchar](50) NOT NULL,
	[IDNguoiThucHien] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NguoiThucHien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[ID] [nvarchar](50) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/17/2021 9:31:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [nvarchar](50) NOT NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](max) NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[Gmail] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ChuyenMon] ([ID], [IDLinhVuc], [IDDeTai]) VALUES (N'1', N'ttnt', N'detai1')
INSERT [dbo].[ChuyenMon] ([ID], [IDLinhVuc], [IDDeTai]) VALUES (N'10', N'ttnt', N'detai10')
INSERT [dbo].[ChuyenMon] ([ID], [IDLinhVuc], [IDDeTai]) VALUES (N'2', N'cntt', N'detai2')
GO
INSERT [dbo].[DeTai] ([IDDeTai], [TenDeTai], [MoTa], [IDNguoihuongdan], [TrangThai]) VALUES (N'4028818479d9fb460179d9fedd060000', N'Quản lý sách', N'xây dựng hệ thống quản lý sách cho thư viện', NULL, N'OK')
INSERT [dbo].[DeTai] ([IDDeTai], [TenDeTai], [MoTa], [IDNguoihuongdan], [TrangThai]) VALUES (N'4028818479fa5a910179fa5c27f80000', N'phần mềm quản lí quán net', N'quản lí quán net', NULL, N'dangxet')
INSERT [dbo].[DeTai] ([IDDeTai], [TenDeTai], [MoTa], [IDNguoihuongdan], [TrangThai]) VALUES (N'detai1', N'Hệ thống phát hiện chuyển động', N'Hệ thống trong khuôn viên ĐH Bách Khoa-ĐH Đà Nẵng', N'user8', N'OK')
GO
INSERT [dbo].[DeTaiDangThucHien] ([IDDeTai], [TienDo], [ID]) VALUES (N'detai1', N'tien do 1', N'1')
INSERT [dbo].[DeTaiDangThucHien] ([IDDeTai], [TienDo], [ID]) VALUES (N'detai2', N'tien do 2', N'2')
INSERT [dbo].[DeTaiDangThucHien] ([IDDeTai], [TienDo], [ID]) VALUES (N'detai3', N'tien do 3', N'3')
GO
INSERT [dbo].[DeTaiHoanThanh] ([IDDeTai], [Diem], [NgayHoanThanh], [IDBaiBao], [ID]) VALUES (N'detai3', N'8', CAST(N'2021-05-04' AS Date), N'baibao1', N'hoanthanh1                                        ')
INSERT [dbo].[DeTaiHoanThanh] ([IDDeTai], [Diem], [NgayHoanThanh], [IDBaiBao], [ID]) VALUES (N'detai4', N'7', CAST(N'2021-09-24' AS Date), N'baibao2', N'hoanthanh2                                        ')
GO
INSERT [dbo].[HoiDongCham] ([ID], [IDCanBo], [IDDeTai]) VALUES (N'2', N'user6', N'detai2')
INSERT [dbo].[HoiDongCham] ([ID], [IDCanBo], [IDDeTai]) VALUES (N'3', N'user7', N'detai3')
INSERT [dbo].[HoiDongCham] ([ID], [IDCanBo], [IDDeTai]) VALUES (N'402881847a005504017a0057f1f50000', N'user7', N'detai1')
GO
INSERT [dbo].[LinhVuc] ([IDLinhVuc], [TenLinhVuc]) VALUES (N'cnpm', N'Công nghệ phần mềm')
INSERT [dbo].[LinhVuc] ([IDLinhVuc], [TenLinhVuc]) VALUES (N'cntt', N'Công Nghệ Thông tin')
INSERT [dbo].[LinhVuc] ([IDLinhVuc], [TenLinhVuc]) VALUES (N'dtvt', N'Điện tử viễn thông')
GO
INSERT [dbo].[NghiepVu] ([ID], [IDCanBo], [IDLinhVuc]) VALUES (N'1', N'user4', N'cntt')
INSERT [dbo].[NghiepVu] ([ID], [IDCanBo], [IDLinhVuc]) VALUES (N'2', N'user5', N'ttnt')
INSERT [dbo].[NghiepVu] ([ID], [IDCanBo], [IDLinhVuc]) VALUES (N'3', N'user6', N'cnpm')
GO
INSERT [dbo].[NguoiThucHien] ([ID], [IDDeTai], [IDNguoiThucHien]) VALUES (N'1', N'detai1', N'user1')
INSERT [dbo].[NguoiThucHien] ([ID], [IDDeTai], [IDNguoiThucHien]) VALUES (N'2', N'detai2', N'user5')
INSERT [dbo].[NguoiThucHien] ([ID], [IDDeTai], [IDNguoiThucHien]) VALUES (N'3', N'detai3', N'user9')
GO
INSERT [dbo].[PhanQuyen] ([ID], [LoaiTaiKhoan]) VALUES (N'1', N'Admin')
INSERT [dbo].[PhanQuyen] ([ID], [LoaiTaiKhoan]) VALUES (N'2', N'HoiDong')
INSERT [dbo].[PhanQuyen] ([ID], [LoaiTaiKhoan]) VALUES (N'3', N'CanBo')
GO
INSERT [dbo].[User] ([ID], [TaiKhoan], [MatKhau], [Ten], [NgaySinh], [GioiTinh], [Gmail], [SDT], [DiaChi], [Role], [TrangThai]) VALUES (N'4028818479ffaada0179ffab83d60000', N'testbamcute', N'$2a$10$CulQelU0IRFkjNKs9hesle9dy25boy8lTQW1qU6LqsWUnBctI495C', N'TestBam123', CAST(N'2021-06-07' AS Date), 1, N'123456ad7@hello.com', N'12345678', N'Quảng Nam', N'4', N'mo')
INSERT [dbo].[User] ([ID], [TaiKhoan], [MatKhau], [Ten], [NgaySinh], [GioiTinh], [Gmail], [SDT], [DiaChi], [Role], [TrangThai]) VALUES (N'4028818579b773000179b773d04f0000', N'lvl1', N'$2a$10$92HWjXbbzGRUe9faXA4tJOMVXWW3e/LlsN2n5C2SWiJbXuncVS0ha', N'Lưu Văn Lợi', CAST(N'2000-02-16' AS Date), 1, N'lvl162@gmail.com', N'123456789', N'Quảng Nam', N'2', N'mo')
INSERT [dbo].[User] ([ID], [TaiKhoan], [MatKhau], [Ten], [NgaySinh], [GioiTinh], [Gmail], [SDT], [DiaChi], [Role], [TrangThai]) VALUES (N'4028818579baedfb0179baefab990000', N'tinhcute', N'$2a$10$i4kaTqyFbShNtyPCl13GjuJTgkwIWpI2ErP58FuRqzuB1I1NYGfMi', N'Nguyễn Thanh Tính ', CAST(N'2000-12-03' AS Date), 1, N'nguyentinh031220@gmail.com', N'0812287774', N'Quảng Bình', N'2', N'mo')
GO
ALTER TABLE [dbo].[BaiBao]  WITH CHECK ADD  CONSTRAINT [FK_BaiBao_DeTai] FOREIGN KEY([IDDeTai])
REFERENCES [dbo].[DeTai] ([IDDeTai])
GO
ALTER TABLE [dbo].[BaiBao] CHECK CONSTRAINT [FK_BaiBao_DeTai]
GO
ALTER TABLE [dbo].[ChuyenMon]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenMon_DeTai] FOREIGN KEY([IDDeTai])
REFERENCES [dbo].[DeTai] ([IDDeTai])
GO
ALTER TABLE [dbo].[ChuyenMon] CHECK CONSTRAINT [FK_ChuyenMon_DeTai]
GO
ALTER TABLE [dbo].[ChuyenMon]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenMon_LinhVuc] FOREIGN KEY([IDLinhVuc])
REFERENCES [dbo].[LinhVuc] ([IDLinhVuc])
GO
ALTER TABLE [dbo].[ChuyenMon] CHECK CONSTRAINT [FK_ChuyenMon_LinhVuc]
GO
ALTER TABLE [dbo].[DeTai]  WITH CHECK ADD  CONSTRAINT [FK_DeTai_User] FOREIGN KEY([IDNguoihuongdan])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[DeTai] CHECK CONSTRAINT [FK_DeTai_User]
GO
ALTER TABLE [dbo].[DeTaiDangThucHien]  WITH CHECK ADD  CONSTRAINT [FK_DeTaiDangThucHien_DeTai] FOREIGN KEY([IDDeTai])
REFERENCES [dbo].[DeTai] ([IDDeTai])
GO
ALTER TABLE [dbo].[DeTaiDangThucHien] CHECK CONSTRAINT [FK_DeTaiDangThucHien_DeTai]
GO
ALTER TABLE [dbo].[DeTaiHoanThanh]  WITH CHECK ADD  CONSTRAINT [FK_DeTaiHoanThanh_BaiBao] FOREIGN KEY([IDBaiBao])
REFERENCES [dbo].[BaiBao] ([IDBaiBao])
GO
ALTER TABLE [dbo].[DeTaiHoanThanh] CHECK CONSTRAINT [FK_DeTaiHoanThanh_BaiBao]
GO
ALTER TABLE [dbo].[DeTaiHoanThanh]  WITH CHECK ADD  CONSTRAINT [FK_DeTaiHoanThanh_DeTai] FOREIGN KEY([IDDeTai])
REFERENCES [dbo].[DeTai] ([IDDeTai])
GO
ALTER TABLE [dbo].[DeTaiHoanThanh] CHECK CONSTRAINT [FK_DeTaiHoanThanh_DeTai]
GO
ALTER TABLE [dbo].[HoiDongCham]  WITH CHECK ADD  CONSTRAINT [FK_HoiDongCham_DeTai] FOREIGN KEY([IDDeTai])
REFERENCES [dbo].[DeTai] ([IDDeTai])
GO
ALTER TABLE [dbo].[HoiDongCham] CHECK CONSTRAINT [FK_HoiDongCham_DeTai]
GO
ALTER TABLE [dbo].[HoiDongCham]  WITH CHECK ADD  CONSTRAINT [FK_HoiDongCham_User] FOREIGN KEY([IDCanBo])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[HoiDongCham] CHECK CONSTRAINT [FK_HoiDongCham_User]
GO
ALTER TABLE [dbo].[NghiepVu]  WITH CHECK ADD  CONSTRAINT [FK_NghiepVu_LinhVuc] FOREIGN KEY([IDLinhVuc])
REFERENCES [dbo].[LinhVuc] ([IDLinhVuc])
GO
ALTER TABLE [dbo].[NghiepVu] CHECK CONSTRAINT [FK_NghiepVu_LinhVuc]
GO
ALTER TABLE [dbo].[NghiepVu]  WITH CHECK ADD  CONSTRAINT [FK_NghiepVu_User] FOREIGN KEY([IDCanBo])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[NghiepVu] CHECK CONSTRAINT [FK_NghiepVu_User]
GO
ALTER TABLE [dbo].[NguoiThucHien]  WITH CHECK ADD  CONSTRAINT [FK_NguoiThucHien_DeTai] FOREIGN KEY([IDDeTai])
REFERENCES [dbo].[DeTai] ([IDDeTai])
GO
ALTER TABLE [dbo].[NguoiThucHien] CHECK CONSTRAINT [FK_NguoiThucHien_DeTai]
GO
ALTER TABLE [dbo].[NguoiThucHien]  WITH CHECK ADD  CONSTRAINT [FK_NguoiThucHien_User] FOREIGN KEY([IDNguoiThucHien])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[NguoiThucHien] CHECK CONSTRAINT [FK_NguoiThucHien_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_PhanQuyen] FOREIGN KEY([Role])
REFERENCES [dbo].[PhanQuyen] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_PhanQuyen]
GO
