<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm tài khoản</title>
    <!-- Import boostrap and Jquery -->
    <script src="/../static/bootstrap-5.0.0/dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/style.css">
    <!-- Branch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>

<body>
    <div class="container form-text">
        <div class="row">
            <div class="col-sm-12">
                <h5>Thêm tài khoản</h5>
            </div>
            <div class="col-sm-12">
                <!-- Form sửa thông tin -->
                <form name="addAccount" th:action="@{/addTaiKhoan/{account}(account=${changer.getTaiKhoan()})}" th:object="${user}" method="POST" onsubmit="return validateForm()">
                    <!-- Têm -->
                    <div class="form-group">
                        <label for="">Tên</label>
                        <span th:field="*{Ten}">
                            <input name="Ten" type="text" th:value="*{Ten}" class="form-control">
                        </span>
                    </div>
                    <!-- Ngày sinh -->
                    <div class="form-group">
                        <label for="">Ngày sinh</label>
                        <span th:field="*{NgaySinh}">
                            <input name="NgaySinh" type="text" th:value="*{NgaySinh}" class="form-control">
                        </span>
                    </div>

                    <!-- Giới tính -->
                    <div class="form-group">
                        <label for="">Giới tính: </label>
                        <span th:field="*{GioiTinh}">
                            <input type="hidden" name="GioiTinh" th:value="*{GioiTinh}" class="form-control">
                            <span> Nam
                                <input type="radio" name="checkboxSex" value="nam" />
                            </span>
                        <span> Nữ
                                <input type="radio" name="checkboxSex" value="nu"  />
                            </span>
                        </span>
                    </div>

                    <!-- Gmail -->
                    <div class="form-group">
                        <label for="">Gmail</label>
                        <span th:field="*{Gmail}">
                            <input name="Gmail" type="text" th:value="*{Gmail}" class="form-control">
                        </span>
                    </div>

                    <!-- Số điện thoại -->
                    <div class="form-group">
                        <label for="">Số điện thoại</label>
                        <span th:field="*{SDT}">
                            <input name="SDT" type="text" th:value="*{SDT}" class="form-control">
                        </span>
                    </div>

                    <!--Địa chỉ( Sửa label thành span)  -->
                    <div class="form-group">
                        <label for="">Địa chỉ</label>
                        <span th:field="*{DiaChi}">
                            <input name="DiaChi" type="text" th:value="*{DiaChi}" class="form-control">
                        </span>
                    </div>


                    <!-- Tài khoản -->
                    <div class="form-group">
                        <label for="">Tài khoản</label>
                        <span th:field="*{TaiKhoan}">
                            <input name="TaiKhoan" type="text" th:value="*{TaiKhoan}" class="form-control">
                        </span>
                    </div>
                    <!-- <div class="form-group">
                        <label for="">Tài khoản</label>
                        <label th:field="*{TaiKhoan}">
                            <input name="TaiKhoan" type="text" th:value="*{TaiKhoan}" class="form-control">
                        </label>
                    </div> -->

                    <!-- Mật khẩu -->
                    <div class="form-group">
                        <label for="">Mật khẩu</label>
                        <span th:field="*{MatKhau}">
                            <input name="MatKhau" type="text" th:value="*{MatKhau}" class="form-control">
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="">Cấp quyền: </label>
                        <span th:field="*{Role}">
                            <input type="hidden" name="Role" th:value="*{Role}">
                            <span> Hội đồng
                                <input type="radio" name="checkboxRole" value="hoidong" />
                            </span>
                        <span> Cán bộ
                                <input type="radio" name="checkboxRole" value="canbo"  />
                            </span>
                        </span>
                    </div>

                    <!-- Nút sửa thông tin -->
                    <button type="submit" class="btn btn-primary" name="btnsubmit" style="margin-top: 17px; border-radius: 10px;">Thêm thông tin</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function validateForm() {
            let checkboxSex = document.getElementsByName("checkboxSex");

            for (var i = 0; i < checkboxSex.length; i++) {
                if (checkboxSex[i].checked === true) {
                    // alert(checkbox[i].value);
                    if (checkboxSex[i].value == "nam") {
                        console.log("nam");
                        document.forms["addAccount"]["GioiTinh"].value = "true";
                    } else {
                        console.log("nu");
                        document.forms["addAccount"]["GioiTinh"].value = "false";
                    }
                }
            }

            let checkboxRole = document.getElementsByName("checkboxRole");

            for (var i = 0; i < checkboxRole.length; i++) {
                if (checkboxSex[i].checked === true) {
                    // alert(checkbox[i].value);
                    if (checkboxRole[i].value == "hoidong") {
                        console.log("hoidong");
                        document.forms["addAccount"]["Role"].value = "2";
                    } else {
                        console.log("canbo");
                        document.forms["addAccount"]["Role"].value = "3";
                    }
                }
            }
            // console.log(document.forms["changeInfo"]["GioiTinh"].value);
            // console.log(document.forms["changeInfo"]["Role"].value);
            return true;
        }
    </script>
    <script src="/../static/bootstrap-5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/../static/bootstrap-5.0.0/dist/js/bootstrap.min.js"></script>
</body>

</html>