<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Chi tiết đề tài</title>
    <!-- Import boostrap and Jquery -->
    <script src="/../static/bootstrap-5.0.0/dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/style.css">
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/styles1.css">
    <!-- Tạo icon trên Title -->
    <link rel="icon" href="/.././static/img/favicon.ico" type="image/x-icon">
    <!-- Branch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <!-- <div class="sidebar-heading">Danh mục</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action bg-light" href="#!">Trang chủ</a>
                <a class="list-group-item list-group-item-action bg-light" href="#!">Hội đồng</a>
                <a class="list-group-item list-group-item-action bg-light" href="#!">Nghiên cứu sinh</a>
                <a class="list-group-item list-group-item-action bg-light" href="#!">Đề tài</a>
                <a class="list-group-item list-group-item-action bg-light" href="#!">Danh mục</a>
                <a class="list-group-item list-group-item-action bg-light" href="#!">Hỗ trợ</a>
            </div> -->
        </div>
        <div id="page-content-wrapper" class="container-fluid">
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-primary" id="menu-toggle" style=" border-radius: 10px;">Danh mục</button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 60px;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Trở về
                        </a>
                            <div class="dropdown-menu">
                                <p th:if="${pageold.equals('chiTietBaiBao')}">
                                    <a th:href="@{'/' + ${pageold} + '/'+ ${detai.getIDDeTai()} +'/'+ ${viewer.getTaiKhoan()}}" class="nav-link">Trở về chi tiết bài báo</a>
                                </p>
                                <p th:if="${pageold.equals('deTaiDangThucHien')}">
                                    <a th:if="${viewer.getRole().equals('3')}" th:href="@{'/' + ${pageold} + '/canbo/' + ${viewer.getTaiKhoan()}}" class="nav-link">Trở về đề tài đang thực hiện</a>

                                </p>
                                <p th:if="${pageold.equals('deTaiDangThucHien')}">

                                    <a th:if="${viewer.getRole().equals('4')}" th:href="@{'/' + ${pageold} + '/nghiencuusinh/' + ${viewer.getTaiKhoan()}}" class="nav-link">Trở về phân quyền</a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" , class="nav-link active">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                        </a>
                            <div class="dropdown-menu">
                                <a th:href="@{'/doimatkhau/' + *{user.getTaiKhoan()}}" class="dropdown-item">Đổi mật khẩu</a>
                                <a th:href="@{'/changePersonInfo/' + ${user.getTaiKhoan()}}" class="dropdown-item">Đổi thông tin cá nhân</a>
                                <a th:href="@{'/login'}" class="dropdown-item">Đăng xuất</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{'/danhSachBaiBao/' + ${user.getTaiKhoan()}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bài báo
                        </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{'/listhoidong/' + *{user.getTaiKhoan()}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Đề tài
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a th:href="@{'/listHuongDan/' + ${user.getTaiKhoan()}}" class="dropdown-item">Danh sách hướng dẫn</a>
                                <a th:href="@{'/themDeTai/' + ${user.getTaiKhoan()}}" class="dropdown-item">Thêm đề tài mới</a>
                                <a th:href="@{'/listChoHuongDan/' + ${user.getTaiKhoan()}}" class="dropdown-item">Danh sách chưa có hướng dẫn</a>
                                <a th:href="@{'/listYeuCauPheDuyet/' + ${user.getTaiKhoan()}}" class="dropdown-item">Danh sách yêu cầu cần phê duyệt</a>
                                <a th:href="@{'/listDeTaiCham/'+ ${user.getTaiKhoan()}}" class="dropdown-item">Danh sách đề tài cần chấm</a>
                                <a th:href="@{'/deTaiDangThucHien/canbo/' + ${user.getTaiKhoan()}}" class="dropdown-item">Đề tài đang thực hiện</a>
                                <a th:href="@{'/dangKyLamNghienCuu/' + ${user.getTaiKhoan()}}" class="dropdown-item">Đăng kí làm nghiên cứu khoa học</a>
                                <a th:href="@{'/deTaiDaLamDuoc/' + ${user.getTaiKhoan()}}" class="dropdown-item">Danh sách đề tài đã làm được</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hỗ trợ</a>
                    </ul>
                </div>
            </nav> -->
            <div class="container-fluid" style="margin-left: 29%;">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 style="margin-top: 20px;">Chi tiết đề tài</h3>
                        <div>
                            <p th:text="'Tên : ' + ${detai.getTenDeTai()}"></p>
                            Mô tả : <textarea th:text=" ${detai.getMoTa()}" class="form-control" style="width: 35%; height: 35%;"></textarea>
                            <!--       <p th:text="'mo ta : ' + ${detai.getMoTa()}"></p>-->
                            <div>
                                <span th:if="${nguoiHuongDan.getTen()}" th:text="'Người hướng dẫn : ' + ${nguoiHuongDan.getTen()}"></span>
                                <span th:if="!${nguoiHuongDan.getTen()}" th:text="'Người hướng dẫn : Chưa có người hướng dẫn '"></span>
                            </div>
                            <p>
                                <span th:if="${detai.getTrangThai().equals('OK')}" th:text="'Trạng thái : OK'"></span>
                                <span th:if="${detai.getTrangThai().equals('dangxet')}" th:text="'Trạng thái : Đang xét'"></span>
                                <span th:if="${detai.getTrangThai().equals('chuaxet')}" th:text="'Trạng thái : Chưa xét'"></span>
                            </p>
                            <div>
                                <p th:if="${nguoithuchien.getTen()}" th:text="'Người thực hiện đề tài : ' + ${nguoithuchien.getTen()}"></p>
                                <p th:if="!${nguoithuchien.getTen()}" th:text="'Người thực hiện đề tài : Chưa có người thực hiện'"></p>
                            </div>
                            Lĩnh vực :
                            <select>
                                <option th:each="linhvuc : ${linhVucCuaDeTai}" th:text="${linhvuc.getTenLinhVuc()}" class="form-control"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12; container-fluid">
                        <div th:if="${detai.getTrangThai().equals('dangxet') && viewer.getRole().equals('2')} ">
                            <!-- Form sửa thông tin -->
                            <form name="formPheDuyet" th:action="@{'/chiTietDeTai/' + ${pageold} + '/' + ${detai.getIDDeTai()} + '/' + ${viewer.getTaiKhoan()}}" method="post">
                                <!-- span th:field="${status}"> -->
                                <input type="hidden" name="status" th:value="${status}">
                                </span>
                                <input type="submit" name="Pheduyet" value="Phê duyệt" onclick="isClicked(this.name)" class="btn btn-primary" style="margin-top: 17px; border-radius: 10px; margin-top: 20px; width: 10%;">
                                <input type="submit" name="Huybo" value="Hủy bỏ" onclick="isClicked(this.name)" class="btn btn-primary" style="margin-top: 17px; border-radius: 10px; margin-top: 20px; width: 10%;">
                            </form>
                        </div>
                        <div th:if="${viewer.getRole().equals('3') && pageold.equals('listHuongDan')}">
                            <label for="" style="margin-top: 20px;">Tiến độ: </label>
                            <textarea th:if="${plane}" th:text="${plane}" class="form-control" style="width: 35%; height: 35%;">
                            </textarea>
                            <textarea th:if="!${plane}" th:text="''" class="form-control" style="width: 35%; height: 35%;margin-top: 10px;" >
                            </textarea>
                        </div>
                        <div th:if="${viewer.getRole().equals('4') && pageold.equals('deTaiDangThucHien')}">
                            Tiến độ:
                            <form name="updateTienDo" th:action="@{'/chiTietDeTai/' + ${pageold} + '/'+ ${detai.getIDDeTai()} + '/' + ${viewer.getTaiKhoan()}}" onsubmit="return validateForm()" method="post">
                            <span th:field="${newTienDo}">
                                <input type="hidden" name="newTienDo" th:value="${newTienDo}">
                            </span>
                                <textarea name="textTienDo" th:if="${plane}" th:text="${plane}" class="form-control" style="width: 50%; height: 50%;"></textarea>
                                <textarea name="textTienDo" th:if="!${plane}" th:text="''" class="form-control" style="width: 50%; height: 50%;"></textarea>
                                <input  type="submit" value="Update tiến độ" class="btn btn-primary"style="margin-top: 17px; border-radius: 10px; margin-top: 20px; width: 10%;">
                            </form>
                        </div>
                        <div th:if="${pageold.equals( 'chiTietBaiBao')}">
                                <a th:href="@{ '/' + ${pageold} + '/'+ ${detai.getIDDeTai()} + '/'+ ${viewer.getTaiKhoan()}} " class="btn btn-primary " style="margin-top: 17px; border-radius: 10px; margin-top: 20px; width: 10%;">Trở về</a>
                        </div>
                        <div th:if="${pageold.equals( 'deTaiDangThucHien')} ">
                            <a th:if="${viewer.getRole().equals( '3')} " th:href="@{ '/' + ${pageold} + '/canbo/' + ${viewer.getTaiKhoan()}} " class="btn btn-primary "style="margin-top: 17px; border-radius: 10px; margin-top: 20px; width: 10%;">Trở về</a>
                            <a th:if="${viewer.getRole().equals( '4')} " th:href="@{ '/' + ${pageold} + '/nghiencuusinh/' + ${viewer.getTaiKhoan()}} " class="btn btn-primary " style="margin-top: 17px; border-radius: 10px; margin-top: 20px; width: 10%;">Trở về </a>
                        </div>
                        <div th:if="${!pageold.equals( 'chiTietBaiBao') && !pageold.equals( 'deTaiDangThucHien')}">
                                <a th:href="@{ '/' + ${pageold} + '/'+ ${viewer.getTaiKhoan()}} " class="btn btn-primary " style="margin-top: 17px; border-radius: 10px; margin-top: 20px; width: 10%;">Trở về</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    <script th:inline="javascript">
        function isClicked(name) {
            document.forms["formPheDuyet"]["status"].value = name;
        }

        function validateForm() {
            var x = document.getElementsByName("textTienDo")[0].value;
            document.forms["updateTienDo"]["newTienDo"].value = x;
            var confirmForm = confirm("Bạn chắc chắn muốn thay đổi tiến độ không ?");
            if (confirmForm) {
                alert("Cập nhật tiến độ thành công");
                return true;
            }
            return false;
            // console.log(document.forms["updateTienDo"]["newTienDo"].value);
        }
    </script>

    <script src="/../static/bootstrap-5.0.0/dist/js/bootstrap.bundle.min.js "></script>
    <script src="/../static/bootstrap-5.0.0/dist/js/bootstrap.min.js "></script>
    <script src="/../static/bootstrap-5.0.0/dist/js/scripts1.js "></script>
</body>

</html>