<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Ten</th>
                <th>Tai Khoan</th>
                <th>Dia chi</th>
            </tr>
            <tr th:object="${user}">
                <td th:text="*{getTen()}"></td>
                <td th:text="*{getTaiKhoan()}"></td>
                <td th:text="*{getDiaChi()}"></td>
            </tr>
        </table>
        <a th:href="@{'/doimatkhau/' + ${user.getTaiKhoan()}}">doi mat khau</a>
        <a th:href="@{'/changePersonInfo/' + ${user.getTaiKhoan()}}">doi thong tin ca nhan</a>
        <a th:href="@{'/listDeTai/' +   ${user.getTaiKhoan()}}">danh sach de tai</a>
    </div>

</body>
</html>