<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>danh sach cho huong dan</title>
</head>
<body>
    <div>
        <form name="formchonhuongdan" th:action="@{'/listChoHuongDan/' + ${viewer.getTaiKhoan()}}" method="post" onsubmit="return validateForm()">
            <table>
                <tr>
                    <th>Ten de tai</th>
                    <th>Trang thai</th>
                    <th>Nguoi thuc hien</th>
                    <th>Chi tiet de tai</th>
                    <th>Huong dan</th>
                </tr>
                <tr th:each="list : ${nguoidexuat}">
                    <td th:text="${list.first.getTenDeTai()}"></td>
                    <td th:text="${list.first.getTrangThai()}"></td>
                    <td>
                        <span th:if="${list.second.getTen()}" >
                            <a th:href="@{'/thongtinNCS/' + ${pageold} + '/' + ${list.second.getID()} + '/' + ${viewer.getID()}}" th:text="${list.second.getTen()}"></a>
                        </span>
                        <span th:if="!${list.second.getTen()}" th:text="'chua co ai thuc hien'"></span>
                    </td>
                    <td><a th:href="@{'/chiTietDeTai/' + ${pageold} + '/' + ${list.first.getIDDeTai()} + '/' + ${viewer.getTaiKhoan()}}">xem chi tiet</a></td>
                    <td><input type="checkbox" class="checkList" th:value="${list.first.getIDDeTai()}"></td>
                </tr>
            </table>
            <span th:field="${checked}" >
                <input type="hidden" name="checked" th:value="${checked}">
            </span>
            <input type="submit" value="nhan huong dan">
        </form>
    <a th:href="@{'/canbo/' + ${viewer.getTaiKhoan()}}">back</a>
    </div>
    <script th:inline="javascript">
        function validateForm() {
            let Checked = "";
            var inputElements =  document.getElementsByClassName('checkList');
            for(var i = 0; i < inputElements.length ; i++){
                if(inputElements[i].checked){
                    // checkedValue = inputElements[i].value;
                    Checked = Checked + "/" + inputElements[i].value;
                }
            }
            document.forms["formchonhuongdan"]["checked"].value = Checked;
            return true;
        }
    </script>
</body>
</html>