<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>list can bo ne</h1>
    <div>
        <table>
            <tr>
                <th>Ten</th>
                <th>Tai Khoan</th>
                <th>Dia chi</th>
                <th>thong tin chi tiet</th>
            </tr>
            <tr th:each="canbo : ${listcanbo}">
                <td th:text="*{canbo.getTen()}"></td>
                <td th:text="*{canbo.getTaiKhoan()}"></td>
                <td th:text="*{canbo.getDiaChi()}"></td>
                <td>
                    <a th:href="${'/information/' + {canbo.getTaiKhoan()} + '/' + {user.getTaiKhoan()}}">chi tiet</a>
                </td>
            </tr>
        </table>
    </div>
    <a th:href="${'/admin/' + {user.getTaiKhoan()}}">back</a>
</body>
</html>