<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Danh sách chờ hướng dẫn</title>
    <!-- Import boostrap and Jquery -->
    <script src="/../static/bootstrap-5.0.0/dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/style.css">
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/styles1.css">
    <!-- Tạo icon trên Title -->
    <link rel="icon" href="/.././static/img/favicon.ico" type="image/x-icon">
    <!-- Branch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />



</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
<!--        <div class="bg-light border-right" id="sidebar-wrapper">-->
<!--            <div class="sidebar-heading" style="border-radius: 10px; width: 20%;">Danh mục</div>-->
<!--            <div class="list-group list-group-flush">-->
<!--                <a class="list-group-item list-group-item-action bg-light" href="#!">Trang chủ</a>-->
<!--                <a class="list-group-item list-group-item-action bg-light" href="#!">Hội đồng</a>-->
<!--                <a class="list-group-item list-group-item-action bg-light" href="#!">Nghiên cứu sinh</a>-->
<!--                <a class="list-group-item list-group-item-action bg-light" href="#!">Đề tài</a>-->
<!--                <a class="list-group-item list-group-item-action bg-light" href="#!">Danh mục</a>-->
<!--                <a class="list-group-item list-group-item-action bg-light" href="#!">Hỗ trợ</a>-->
<!--            </div>-->
<!--        </div>-->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
<!--                <button class="btn btn-primary" id="menu-toggle" style=" border-radius: 10px; width: 10%;">Danh mục</button>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#!">
                                Trang chủ 
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                            </a>
                            <div class="dropdown-menu">
                                <a th:href="@{'/doimatkhau/' + ${user.getTaiKhoan()}}" class="dropdown-item">Đổi mật khẩu</a>
                                <a th:href="@{'/login'}" class="dropdown-item">Đăng xuất</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" th:href="@{'/listhoidong/' + *{user.getTaiKhoan()}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Đề tài
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a th:href="@{'/listDeTai/' +   ${user.getTaiKhoan()}}" class="dropdown-item">Danh sách đề tài</a>
                                <a th:href="@{'/dangThucHien/' + ${user.getTaiKhoan()}}" class="dropdown-item">Danh sách đề tài đang thực hiện</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/hoidongchamthi/' + ${user.getTaiKhoan()}}">Hội đồng chấm thi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hỗ trợ</a>
                        </li>
                    </ul> -->
                </div>
            </nav>
            <div class="container-fluid form-text">
                <h3 style="margin-top: 20px; color: black; margin-left: 12.5%;">Danh sách chờ hướng dẫn </h3>
                <form name="formchonhuongdan" th:action="@{'/listChoHuongDan/' + ${viewer.getTaiKhoan()}}" method="post" onsubmit="return validateForm()">
                    <div class="table-responsive" style="margin-top: 20px;">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr style="background-color: #BE81F7;">
                                    <th scope="col">Tên đề tài</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Người thực hiện</th>
                                    <th scope="col">Chi tiết đề tài</th>
                                    <th scope="col">Hướng dẫn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <tr th:each="list : ${nguoidexuat}">
                                        <td th:text="${list.first.getTenDeTai()}"></td>
                                        <td>
                                            <span th:if="${list.first.getTrangThai().equals('OK')}" th:text="'OK'"></span>
                                            <span th:if="${list.first.getTrangThai().equals('dangxet')}" th:text="'Đang xét'"></span>
                                            <span th:if="${list.first.getTrangThai().equals('chuaxet')}" th:text="'Chưa xét'"></span>
                                        </td>
                                        <td>
                                            <span th:if="${list.second.getTen()}">
                                                <a th:href="@{'/thongtinNCS/' + ${pageold} + '/' + ${list.second.getID()} + '/' + ${viewer.getID()}}" th:text="${list.second.getTen()}"></a>
                                            </span>
                                            <span th:if="!${list.second.getTen()}" th:text="'Chưa có ai thực hiện'"></span>
                                        </td>
                                        <td><a th:href="@{'/chiTietDeTai/' + ${pageold} + '/' + ${list.first.getIDDeTai()} + '/' + ${viewer.getTaiKhoan()}}" class="btn btn-outline-info" style="border-radius: 10px;  width: 60%; text-align: center;">Chi tiết</a></td>
                                        <td><input type="checkbox" class="checkList" th:value="${list.first.getIDDeTai()}" style="border-radius: 10px; margin-top: 10px; width: 40%;height: 20px"></td>
                                    </tr>
                                </tr>
                            </tbody>
                            <span th:field="${checked}">
                        <input type="hidden" name="checked" th:value="${checked}">
                    </span>
                        </table>
                    </div>
                    <input type="submit" value="Nhận hướng dẫn" class="btn btn-primary"  style="margin-top: 20px; border-radius: 10px; width: 15%; margin-left: 12.5%; ">
                    <a th:href="@{ '/canbo/' + ${viewer.getTaiKhoan()}} " class="btn btn-primary " style="margin-top: 20px; border-radius: 10px; width: 15%; ">Trở về</a>
                </form>
            </div>
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-6 ">
                        
                    </div>
                    <div class="col-md-6 ">

                    </div>
                </div>
            </div>
            <hr>
            <div class="container-fluid padding ">
                <div class="row text-center padding ">
                    <div class="col-12 ">
                        <h5>Liên lạc với nhóm</h5>
                    </div>
                    <div class="col-md-4 social padding ">
                        <a href="# "><i class="fab fa-facebook "></i></a>
                    </div>
                    <div class="col-md-4 social padding ">
                        <a href="# "><i class="fab fa-instagram "></i></a>
                    </div>
                    <div class="col-md-4 social padding ">
                        <a href="# "><i class="fab fa-youtube "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function validateForm() {
            let Checked = "";
            var inputElements =  document.getElementsByClassName('checkList');
            for(var i = 0; i < inputElements.length ; i++){
                if(inputElements[i].checked){
                    // checkedValue = inputElements[i].value;
                    Checked = Checked + "/" + inputElements[i].value;
                }
            }
            document.forms["formchonhuongdan"]["checked"].value = Checked;
            return true;
        }
    </script>
    <script src="/../static/bootstrap-5.0.0/dist/js/bootstrap.bundle.min.js "></script>
    <script src="/../static/bootstrap-5.0.0/dist/js/bootstrap.min.js "></script>
    <script src="/../static/bootstrap-5.0.0/dist/js/scripts1.js "></script>
</body>

</html>