<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/login}" th:object="${user}"  method="POST" onsubmit="return validateForm()">
        <label >tai khoan</label>
        <input type="text" th:field="*{TaiKhoan}">
        <br>
        <label >mat khau</label>
        <input type="text" th:field="*{MatKhau}">
        <br>
        <input type="submit" value="login">
    </form>
    <script  th:inline="javascript">
        var user = [[${user}]];

        function validateForm() {
            let status = user.trangThai;
            alert(status);
            if (status == "khoa") {
                alert("tai khoan bi khoa roi ku!!!");
                return false;
            }
            return true;
        }
    </script>
</body>

</html>