<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nghiên cứu sinh</title>
    <!-- Import boostrap and Jquery -->
    <script src="/../static/bootstrap-5.0.0/dist/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../static/bootstrap-5.0.0/dist/css/style.css">
    <!-- Branch -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />


</head>

<body>
    <div class="container">
        <h5>Danh sách nghiên cứu sinh </h5>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="background-color: #BE81F7;">
                        <th scope="col">Tên</th>
                        <th scope="col">Tài khoản</th>
                        <th scope="col">Địa chỉ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr th:each="user:${user}">
                            <td th:text="*{user.getTen()}"></td>
                            <td th:text="*{user.getTaiKhoan()}"></td>
                            <td th:text="*{user.getDiaChi()}"></td>
                        </tr>
                    </tr>
                </tbody>

            </table>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a th:href="@{'/doimatkhau/' + *{user.getTaiKhoan()}}" class="btn btn-outline-info" style="border-radius: 10px; margin-top: 10px; width: 23%; text-align: center;">Đổi mật khẩu</a>
                    <a th:href="@{'/danhSachBaiBao/' + ${user.getTaiKhoan()}}" class="btn btn-outline-info" style="border-radius: 10px; margin-top: 10px; width: 23%; text-align: center;">Danh sách bài báo</a>
                    <a th:href="@{'/dangKyLamNghienCuu/' + ${user.getTaiKhoan()}}" class="btn btn-outline-info" style="border-radius: 10px; margin-top: 10px; width: 23%; text-align: center;">Đăng kí làm nghiên cứu khoa học</a>

                </div>
                <div class="col-md-6">
                    <a th:href="@{'/login'}" class="btn btn-outline-info" style="border-radius: 10px; margin-top: 10px; width: 23%; text-align: center;">Đăng xuất</a>
                    <a th:href="@{'/themDeTai/' + ${user.getTaiKhoan()}}" class="btn btn-outline-info" style="border-radius: 10px; margin-top: 10px; width: 23%; text-align: center;">Thêm đề tài mới</a>
                    <a th:href="@{'/deTaiDangThucHien/nghiencuusinh/' + ${user.getTaiKhoan()}}" class="btn btn-outline-info" style="border-radius: 10px; margin-top: 10px; width: 23%; text-align: center;">Đề tài đang thực hiện</a>
                </div>
            </div>
            <hr>
            <div class="container-fluid padding">
                <div class="row text-center padding">
                    <div class="col-12">
                        <h5>Liên lạc với nhóm</h5>
                    </div>
                    <div class="col-md-4 social padding">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="col-md-4 social padding">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-md-4 social padding">
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/../static/bootstrap-5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/../static/bootstrap-5.0.0/dist/js/bootstrap.min.js"></script>
</body>

</html>