<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello thay</h1>
    <form th:object="${user}">

        <label for="">Ten</label>
        <span th:field="*{Ten}">
                <input name="Ten" type="text" th:value="*{Ten}">
        </span>

        <br>
        <label for="">Ngay sinh</label>
        <span th:field="*{NgaySinh}">
                <input name="NgaySinh" type="text" th:value="*{NgaySinh}">
        </span>
        <br>

        <label for="">Gioi tinh : </label>
        <span  th:field="*{GioiTinh}" >
                <input type="hidden" name="GioiTinh" th:value="*{GioiTinh}">
                <span> Nam
                    <input type="radio" name="checkboxSex" value="nam" th:checked="*{GioiTinh} ? 'checked'" />
                </span>
                <span> Nu
                    <input type="radio" name="checkboxSex" value="nu"  th:checked="!*{GioiTinh} ? 'checked'" />
                </span>
        </span>
        <br>

        <label for="">Dia chi</label>
        <label th:field="*{DiaChi}">
            <input name="DiaChi" type="text" th:value="*{DiaChi}">
        </label>
        <br>

        <label for="">Sdt</label>
        <span th:field="*{SDT}">
                <input name="SDT" type="text" th:value="*{SDT}">
        </span>
        <br>

        <label for="">Gmail</label>
        <span th:field="*{Gmail}">
                <input name="Gmail" type="text" th:value="*{Gmail}">
        </span>
        <br>
    </form>
    <a th:href="@{ '/'+ ${pageold} +'/' + ${nguoihuongdan.getTaiKhoan()}}">back</a>
</body>
</html>